* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: azure;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: 100px repeat(5, 80px);
  gap: 1px;
  background-color: #505050;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}

.display {
  grid-column: 1/-1;
  line-height: 68px;
  text-align: right;
  font-size: 48px;
  background-color: #505050;
  color: white;
  padding: 16px;
}

button {
  line-height: 80px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 24px;
  border: 1px solid #505050;
  color: white;
  cursor: pointer;
}

.zero {
  grid-column: span 2;
}

.operator {
  background-color: #f19f3b;
}

.digit,
.decimal {
  background-color: #7b7b7b;
}

.clear,
.sign,
.percent {
  background-color: #616161;
}

@media only screen and (max-width: 768px) {
  .calculator {
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: 70px repeat(5, 50px);
  }

  .display {
    padding: 4px 8px;
    line-height: 62px;
    font-size: 30px;
  }

  button {
    line-height: 50px;
    font-size: 18px;
  }
}
